{{ $file := .Get "file" | readFile }}
{{ $lang := .Get "language" }}
{{ $region := default "" (.Get "region")}}

{{ if eq $region ""}}
    {{ (print "```" $lang "\n" $file "\n```") | markdownify }}
{{ else }}
    {{ $startMarker := print "#region " $region  }}
    {{ $endMarker := "#endregion" }}
   
    {{ $content := split $file "\n" }}
    {{ $insideRegion := false }}
    {{ $result := "" }}
    {{ range $content }}
        {{ if $insideRegion }}
            {{ if strings.Contains . $endMarker }}
                {{ $insideRegion = false }}
            {{ else }}
                {{ $result = (print $result . "\n") }}
            {{ end }}
        {{ else if strings.Contains . $startMarker }}
            {{ $insideRegion = true }}
        {{ end }}
    {{ end }}
    {{ if eq $result ""}}
        {{ errorf (print "There is no region: '" $region "' in file: '" (.Get "file") "'") }}
    {{ end}}


    {{ (print "```" $lang "\n" $result "```") | markdownify }}

{{ end }}