/*  typography */
body {
  line-height: 1.7;
  font-family: $font-primary;
  -webkit-font-smoothing: antialiased;
  color: $text-color;
  font-size: .9rem;
}

p {
  font-weight: 400;
  color: $text-color;
  font-size: .9rem;
  line-height: 1.7;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  color: $text-dark;
  font-weight: 800;
  line-height: 1.2;
}


// List in descending order to prevent extra sort function
$type-levels: 6,
  5,
  4,
  3,
  2,
  1;

@each $level in $type-levels {
  $font-size: $font-size * $font-scale;

  // Output heading styles
  h#{$level},
  .h#{$level} {
    font-size: calc(#{$font-size} * .68);
    line-height: calc(2px + 2ex + 2px);
    margin-bottom: 0.65em;

    // font size for h1
    &:not(h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6) {
      font-size: calc(#{$font-size} * 1.1);

      @include desktop {
        font-size: calc(#{$font-size} * 0.9);
      }

      @include tablet {
        font-size: calc(#{$font-size} * 0.7);
      }
    }

    // font size for h2
    &:not(h1, .h1, h3, .h3, h4, .h4, h5, .h5, h6, .h6) {
      font-size: calc(#{$font-size} * .9);

      @include tablet {
        font-size: calc(#{$font-size} * 0.8);
      }
    }

    // font size for h3, h4, h5, h6
    &:not(h1, .h1, h2, .h2) {
      font-size: calc(#{$font-size} * .68) !important;
    }
  }
}